#main-body{
  display:flex;
  flex-direction: column;
}
#section1{
  background-color: #87CEEB;
  width: 100%;
  height: 20vh;
  padding-top: 1%;
}
#h1-section1{
  text-align: center;
}
#h3-section1{
  text-align: center;
}

#section2{
  background-color: white;
  margin: 0 auto;
  width:80%;
  padding: 0 5% 2%;
  border-radius: 2%;
}

#todo-butten{
  color:white;
  background-color:#1E90FF;
  border-radius: 25px;
  border:#1E90FF;
  padding:1.65%; 
  width: 10%;
  margin-top: 2%;
  box-shadow: 0 4px 8px 0 rgb(189, 181, 181), 0 6px 20px 0 rgb(189, 181, 181);
}

.center{
  text-align: center;
}

#input-todo{
  border-top:none;
  border-left: none;
  border-right: none;
    width: 80%;
    height: 5vh;
    margin-top: 2%;
    border-color:#1E90FF ;
}
#date-time{
    height: 5vh;
    margin-top: 2%;
    border-top:none;
  border-left: none;
  border-right: none;
  border-color:#1E90FF ; 
}

#drop-list {
  border: 1px solid #e5e5e5;
  padding: 1%;
  margin-top: 2%;
  font-size: 14px;
  width: 13%;
  background: white;
}

#flexbutten-container{
  display: flex;
  justify-content: space-between;
}

  
    @media only screen and (min-width: 701px) and (max-width: 1000px){
      #todo-butten{
        width:25%;
        }
        form{
          display:grid;
           grid-template-rows: 1fr 1fr 1fr 1fr; 
        }
      #input-todo {
        width:100%; 
        grid-row-start:1; 
        grid-row-end: 2;
        }
      #date-time {
        width:100%; 
        grid-row-start:2; 
        grid-row-end: 3;
        }
      #drop-list {
        display:block; 
        width: 30vw; 
        grid-row-start:3;
         grid-row-end: 4;
         }
      #todo-button{
        width:100%; 
        grid-row-start:4;
        grid-row-end: 5;
      }
      }

      @media only screen and (max-width: 700px){
        #todo-butten{
          width:25%;
          }
          form{
            display:grid;
             grid-template-rows: 1fr 1fr 1fr 1fr; 
          }
        #input-todo {
          width:100%; 
          grid-row-start:1; 
          grid-row-end: 2;
          }
        #date-time {
          width:100%; 
          grid-row-start:2; 
          grid-row-end: 3;
          }
        #drop-list {
          display:block; 
          width: 30vw; 
          grid-row-start:3;
           grid-row-end: 4;
           }
        #todo-button{
          width:100%; 
          grid-row-start:4;
          grid-row-end: 5;
        }
      }

      #li-js{
        display: flex;
        justify-content: space-between;
        border:1px solid #1E90FF;
        margin: 0 0 1% 0;
        margin-right: 5%;
      }

  
      #s1{
        display: flex;
        justify-content: space-around;
        align-self: center;
      }

      #s2{
       align-self: center;
       margin-right: 2%;
      }

      #d1{
        align-self: center;
      }

      .delbtn {
        background-color: DodgerBlue;
        border: none;
        color: white;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
      }
      .delbtn:hover {
        background-color:#FF0000;
      }#main-body{
  display:flex;
  flex-direction: column;
}
#section1{
  background-color: #87CEEB;
  width: 100%;
  height: 20vh;
  padding-top: 1%;
}
#h1-section1{
  text-align: center;
}
#h3-section1{
  text-align: center;
}

#section2{
  background-color: white;
  margin: 0 auto;
  width:80%;
  padding: 0 5% 2%;
  border-radius: 2%;
}

#todo-butten{
  color:white;
  background-color:#1E90FF;
  border-radius: 25px;
  border:#1E90FF;
  padding:1.65%; 
  width: 10%;
  margin-top: 2%;
  box-shadow: 0 4px 8px 0 rgb(189, 181, 181), 0 6px 20px 0 rgb(189, 181, 181);
}

.center{
  text-align: center;
}

#input-todo{
  border-top:none;
  border-left: none;
  border-right: none;
    width: 80%;
    height: 5vh;
    margin-top: 2%;
    border-color:#1E90FF ;
}
#date-time{
    height: 5vh;
    margin-top: 2%;
    border-top:none;
  border-left: none;
  border-right: none;
  border-color:#1E90FF ; 
}

#drop-list {
  border: 1px solid #e5e5e5;
  padding: 1%;
  margin-top: 2%;
  font-size: 14px;
  width: 13%;
  background: white;
}

#flexbutten-container{
  display: flex;
  justify-content: space-between;
}

  
    @media only screen and (min-width: 701px) and (max-width: 1000px){
      #todo-butten{
        width:25%;
        }
        form{
          display:grid;
           grid-template-rows: 1fr 1fr 1fr 1fr; 
        }
      #input-todo {
        width:100%; 
        grid-row-start:1; 
        grid-row-end: 2;
        }
      #date-time {
        width:100%; 
        grid-row-start:2; 
        grid-row-end: 3;
        }
      #drop-list {
        display:block; 
        width: 30vw; 
        grid-row-start:3;
         grid-row-end: 4;
         }
      #todo-button{
        width:100%; 
        grid-row-start:4;
        grid-row-end: 5;
      }
      }

      @media only screen and (max-width: 700px){
        #todo-butten{
          width:25%;
          }
          form{
            display:grid;
             grid-template-rows: 1fr 1fr 1fr 1fr; 
          }
        #input-todo {
          width:100%; 
          grid-row-start:1; 
          grid-row-end: 2;
          }
        #date-time {
          width:100%; 
          grid-row-start:2; 
          grid-row-end: 3;
          }
        #drop-list {
          display:block; 
          width: 30vw; 
          grid-row-start:3;
           grid-row-end: 4;
           }
        #todo-button{
          width:100%; 
          grid-row-start:4;
          grid-row-end: 5;
        }
      }

      #li-js{
        display: flex;
        justify-content: space-between;
        border:1px solid #1E90FF;
        margin: 0 0 1% 0;
        margin-right: 5%;
      }

  
      #s1{
        display: flex;
        justify-content: space-around;
        align-self: center;
      }

      #s2{
       align-self: center;
       margin-right: 2%;
      }

      #d1{
        align-self: center;
      }

      .delbtn {
        background-color: DodgerBlue;
        border: none;
        color: white;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
      }
      .delbtn:hover {
        background-color:#FF0000;
      }
